<div id="post-header" style="position: relative;">
  <img [src]="profile" id="profile-photo">
  <div id="profile-name">temp</div>

  <button id="post_options" (click)="togglePostMenu()">&#8942;</button>

  @if (menuAbierto) {
    <div class="post-popup-menu">
      <button class="add-to-fav-btn" (click)="anadirFavoritos()">Añadir a Favoritos</button>
      <button (click)="descargarTodo()">Descargar todo</button>
      <button class="report-btn" (click)="reportarPost()">Denunciar</button>
    </div>
  }

<div id="post-description">Description</div>
<div id="post-content">
  <div id="files"></div>
</div>

<div id="post-footer">
  <div id="like-amount">0</div>

  <span class="like-btn" title="Me gusta">&#128077;</span>
  <span class="dislike-btn" title="No me gusta">&#128078;</span>

  <button id="comment-button">&#128488;</button>
</div>
</div>
