#post-body {
    background: #888;
    border: 1px solid #000;
    width: 100%;
    height: 200px;
}

#post-header {
    height: 10%;
    display: flex;
    flex-direction: row;
}

#profile-photo {
    border-radius: 50%;
    height: auto;
    aspect-ratio: 1;
}

#profile-name {
    width: 80%;
    border: #000000 1px solid;
}

#post-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    float: right;
}

#post-content {
    height: 70%;
    display: flex;
    flex-direction: row;
}

#post-description {
    height: 10%;
}

#post_options{
    aspect-ratio: 1;
    float: left;
}

#comment-button {
    aspect-ratio: 1;
}