#post-body {
    background: #AAAAAA;
    border-radius: 5%;
    width: 100%;
    height: 200px;
}

#post-header {
    height: 10%;
    display: flex;
    flex-direction: row;
}

#profile-photo {
    border-radius: 50%;
    height: auto;
    aspect-ratio: 1;
}

#profile-name {
    width: auto;
    text-wrap: wrap;
}

#post-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    float: right;
}

#post-content {
    height: 70%;
    display: flex;
    flex-direction: row;
}

#post-description {
    height: auto;
    text-wrap: wrap;
}

#post_options{
    margin-left: auto;
    aspect-ratio: 1;
}

#comment-button {
    aspect-ratio: 1;
}