<footer class="main-footer container-fluid px-md-5 px-3">
  <div class="footer-links d-flex flex-wrap gap-3 gap-md-4 justify-content-center justify-content-md-start">
    <a href="https://github.com/TheFox50011/PWM2026/tree/Sprint3" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
    <a href="https://www.figma.com/design/voWDlseSuNRFslYecKBPm4/El-equipo-de-Diego-Gonz%C3%A1lez-team-library?node-id=0-1&p=f&t=VkoiBnWdazbWlAOl-0" target="_blank" rel="noopener noreferrer">Figma</a>
    <a routerLink="/">Home</a>
    <a routerLink="/about-us">About Us</a>
  </div>

  <img class="footer-logo mx-md-4 my-3 my-md-0" [src]="logo" alt="Logo">

  <div class="footer-contact d-flex flex-wrap gap-3 gap-md-4 justify-content-center justify-content-md-end">
    <a href="mailto:cathaysa.moreno101@alu.ulpgc.es?subject=Consulta sobre la web" target="_blank" rel="noopener noreferrer">Send an Email</a>
    <a href="https://wa.me/34628193554?text=Hola!" target="_blank" rel="noopener noreferrer">Send a message</a>
    <div class="team-link">
      <a routerLink="/our-team">Our Team</a>
    </div>
  </div>
</footer>
