<footer class="main-footer">
  <div class="footer-links">
    <a href="https://github.com/TheFox50011/PWM2026" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
    <a href="https://www.figma.com/design/..." target="_blank" rel="noopener noreferrer">Figma</a>
    <a routerLink="/">Home</a>
    <a routerLink="/about-us">About Us</a>
  </div>

  <img class="footer-logo" [src]="logo" alt="Logo">

  <div class="footer-contact">
    <a href="mailto:cathaysa.moreno101@alu.ulpgc.es?subject=Consulta sobre la web" target="_blank" rel="noopener noreferrer">Send an Email</a>
    <a href="https://wa.me/34628193554?text=Hola!" target="_blank" rel="noopener noreferrer">Send a message</a>
    <div class="team-link">
      <a routerLink="/our-team">Our Team</a>
    </div>
  </div>
</footer>
