<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="https://github.com/TheFox50011/PWM2026/tree/Sprint3" target="_blank">GitHub</ion-button>
      <ion-button href="https://www.figma.com/design/voWDlseSuNRFslYecKBPm4/El-equipo-de-Diego-Gonz%C3%A1lez-team-library?node-id=0-1&p=f&t=VkoiBnWdazbWlAOl-0" target="_blank">Figma</ion-button>
      <ion-button routerLink="/">Home</ion-button>
      <ion-button routerLink="/about-us">About Us</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">StudyHub</ion-title>
    <ion-buttons slot="end">
      <ion-button href="mailto:cathaysa.moreno101@alu.ulpgc.es?subject=Consulta sobre la web" target="_blank">Email</ion-button>
      <ion-button href="https://wa.me/34628193554?text=Hola!" target="_blank">WhatsApp</ion-button>
      <ion-button routerLink="/our-team">Our Team</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
