<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <footer style="display: flex; justify-content: space-around; align-items: center; margin-top: 770px; padding: 20px; background-color: #bbb; border: 1px solid #000;">
        <div style="display: flex; grid-template-columns: auto auto; gap: 40px;">
            <a href="#">Link GitHub</a>
            <a href="#">Link Figma</a>
            <a href="http://localhost:63342/PWM2026/src/html/Homepage.html?_ijt=qh55qek2sp8k70sofalrr5h4cv&_ij_reload=RELOAD_ON_SAVE">Home</a>
            <a href="#">About Us</a>
        </div>

        <div style="width: 80px; height: 80px; border-radius: 50%; border: 1px solid #333; display: flex; align-items: center; justify-content: center; background-color: #ccc;">
            <strong>Logo</strong>
        </div>

        <div style="display: flex; grid-template-columns: auto auto; gap: 40px;">
            <a href="#">Link Email</a>
            <a href="#">Link Phone</a>
            <div style="grid-column: span 2; text-align: center;">
                <a href="http://localhost:63342/PWM2026/src/html/OurTeam.html?_ijt=qh55qek2sp8k70sofalrr5h4cv&_ij_reload=RELOAD_ON_SAVE">Our Team</a>
            </div>
        </div>

</footer>
</html>
