<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="../../css/components/Post.css">
</head>
<body id="post-body">

<div id="post-header" style="position: relative;">
    <img src="" id="profile-photo">
    <div id="profile-name">temp</div>

    <button id="post_options" onclick="togglePostMenu(this)" style="background: none; border: none; font-size: 24px; cursor: pointer;">&#8942;</button>

    <div class="post-popup-menu">
        <button onclick="alert('Añadido a Favoritos')">⭐ Añadir a Favoritos</button>
        <button onclick="alert('Descargando archivos...')">📥 Descargar todo</button>
        <button class="report-btn" onclick="alert('Post reportado')">🚩 Denunciar</button>
    </div>
</div>

<div id="post-description">Description</div>
<div id="post-content">
    <div id="files"></div>
</div>
<div id="post-footer">
    <div id="like-amount">200</div>
    <label for="like">&#128077</label>
    <input type="radio" id="like" name="opinion" value="like">
    <label for="dislike">&#128078</label>
    <input type="radio" id="dislike" name="opinion" value="dislike">
    <button id="comment-button">&#128488;</button>
</div>
</body>
</html>