<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="../../css/components/Post.css">
</head>
<body id="post-body">
<div id="post-header">
    <img src="../../assets/dummy_picture.jpeg" id="profile-photo">
    <div id="profile-name">temp</div>
    <button id="post_options">&#8942</button>
</div>
<div id="post-description">Description</div>
<div id="post-content">
    <div id="files"></div>
</div>
<div id="post-footer">
    <div id="like-amount">200</div>
    <label for="like">&#128077</label>
    <input type="radio" id="like" name="opinion" value="like">
    <label for="dislike">&#128078</label>
    <input type="radio" id="dislike" name="opinion" value="dislike">
    <button id="comment-button">&#128488</button>
</div>
</body>
</html>