<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/components/Sidebar.css">
</head>
<body>
<aside>
    <section id="profile-section">
        <div class="group">
            <img src="" id="profile-picture">
            <div id="profile-name"></div>
        </div>
        <button value="Edit profile" id="editprofile" onclick="window.location.href='profile.html'">Edit profile</button>
    </section>
    <nav class="side-nav">
        <button value="Home" id="home" onclick="window.location.href='Mainpage.html'">Home</button>
        <button onclick="window.location.href='CreateForum.html'">Create forum</button>
        <button onclick="window.location.href='CreateTest.html'">Create test</button>
        <button onclick="window.location.href='Notifications.html'">Notifications</button>
        <button onclick="window.location.href='Favorites.html'">Favorites</button>
        <button onclick="window.location.href='Settings.html'">Settings</button>
        <button onclick="window.location.href='index.html'">Logout</button>
    </nav>
</aside>
</body>
</html>