<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/components/Sidebar.css">
    <script src="../../javascript/mainpage_actions.js"></script>
</head>
<body>
<aside>
    <section id="profile-section">
        <div class="group">
            <div class="profile-image">
                <img src="../assets/dummy_picture.jpeg" alt="" id="profile-picture">
            </div>
        </div>

        <div class="user-profile">
            <span id="profile-name" onclick="window.location.href='Profile.html'">Name Surname</span>
        </div>

        <button value="Edit profile" id="editprofile">Edit profile</button>
    </section>
    <nav class="side-nav">
        <button value="Home" id="home" onclick="window.location.href='Mainpage.html'">Home</button>
        <button onclick="window.location.href='CreateForum.html'">Create forum</button>
        <button onclick="window.location.href='CreateTest.html'">Create test</button>
        <button onclick="window.location.href='Notifications.html'">Notifications</button>
        <button onclick="window.location.href='Favorites.html'">Favorites</button>
        <button onclick="window.location.href='Settings.html'">Settings</button>
        <button onclick="window.location.href='index.html'">Logout</button>
    </nav>
</aside>
</body>
</html>