body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header, footer {
    width: 100%;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 800px;
    height: 90vh;
    max-height: 600px;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h1 {
    color: #666666;
    font-size: 22px;
    margin-top: 60px;
    position: absolute;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-bottom: 25px;
}

label {
    color: #888888;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 10px;
}


input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}

.btn-continue {
    background-color: #d9d9d9;
    color: #666666;
    border: none;
    padding: 10px 35px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #333333;
    border-radius: 20px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
}


input[type="email"]::placeholder {
    color: #333333;
    font-weight: normal;
}


.btn-continue {
    background-color: #d9d9d9;
    color: #666666;
    border: none;
    padding: 10px 35px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.btn-continue:hover {
    background-color: #cccccc;
}